<!-- View pane -->

<div class="view" id="view_frontpage">

  <!-- View content -->

  <div class="scroll-content overflow-scroll has-header">
    <div class="scroll alwaysScrollable">

      <!-- START: scrollable content -->

      <ul class="list">
        <div class="item item-divider" ng-click="toggleVisibleCategory('contacts')">
          Yhteystiedot
        </div>
        <div ng-show="visibleCategory == 'contacts'" class="animated">
          <li class="item item-icon-right" ng-repeat="contact in contacts" ng-click="openPhone(contact.phone)">
            {{contact.name}}
            <i class="icon ion-ios7-telephone-outline"></i>
          </li>
        </div>
        <div class="item item-divider" ng-click="toggleVisibleCategory('maps')">
          Rundipaikkakuntien kartat
        </div>
        <div ng-show="visibleCategory == 'maps'" class="animated">
        <li class="item item-icon-right" ng-repeat="map in maps" ng-click="openMap(map.url)">
          {{map.name}}
          <i class="icon ion-map"></i>
        </li>
      </ul>

      <!-- END: scrollable content -->

    </div>
  </div>

</div>