<!-- View pane -->

<div class="view" id="view_videoList">

	<!-- View content -->

	<div class="scroll-content overflow-scroll has-header">
		<div class="scroll padding alwaysScrollable">

			<!-- START: scrollable content -->

			<div class="category" ng-repeat="(category, videos) in videos">
				<h3>{{category}}</h3>
				<div class="videos">
					<div class="video" ng-click="showVideoDetails(video.nid)" ng-repeat="video in videos">
						<img class="poster" ng-src="{{video.cover_image.uri}}" alt="" />
						{{video.title}}
					</div>
				</div>
			</div>

			<!-- END: scrollable content -->

		</div>
	</div>

</div>