<!-- View pane -->

<div class="view" id="view_videoDetails">

	<!-- View content -->

	<div class="scroll-content overflow-scroll has-header">
		<div class="scroll vertical-padding alwaysScrollable">

			<!-- START: scrollable content -->

			<div class="details">

				<!-- Main picture -->
				<div class="mainPicture" ng-click="playVideo(video.stream.uri)"><img ng-src="{{video.main_image.uri}}" alt="" /></div>

				<!-- Text details -->
				<div class="padding">
					<!-- Video title -->
					<h2>{{video.title}}</h2>
					<p>{{video.body}}</p>

					<p><b>Distribution:</b> <span ng-repeat="distributor in video.distribution_company">{{distributor.name}}<span ng-show="!$last">, </span></span></p>
					<p><b>Genre:</b> {{video.genre.name}}</p>
					<p><b>Actors:</b> <span ng-repeat="actor in video.actors">{{actor.name}}<span ng-show="!$last">, </span></span></p>
				</div>

				<!-- PEGI -->
				<div class="pegi">
					<img src="/icons/pegi.png" alt="" />
				</div>

				<!-- Similar movies -->
				<div class="padding">
					<div class="category">
						<h3>Similar videos</h3>
						<div class="videos">
							<div class="video" ng-click="showVideoDetails(video.nid)" ng-repeat="video in similarVideos">
								<img class="poster" ng-src="{{video.cover_image.uri}}" alt="" />
								{{video.title}}
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- END: scrollable content -->

		</div>
	</div>

</div>