<!DOCTYPE html>
<html ng-app="StriiminApp">
<head>
	<meta charset="utf8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<title>My Steroids App</title>

	<!-- STYLE SHEETS -->

	<link rel="stylesheet" href="/vendor/ionic/css/ionic.css" />
	<link rel="stylesheet" href="/stylesheets/application.css" />

	<!-- JAVA SCRIPTS -->

	<!-- Dependencies -->
	<script src="/javascripts/onerror.js"></script>
	<script src="/javascripts/console.log.js"></script>
	<script src="http://localhost/cordova.js"></script>
	<script src="/components/steroids-js/steroids.js"></script>

	<script src="/components/angular/angular.js"></script>
	<script src="/components/angular-animate/angular-animate.js"></script>
	<script src="/components/angular-route/angular-route.js"></script>
	<script src="/components/angular-touch/angular-touch.js"></script>
	<script src="/components/angular-resource/angular-resource.js"></script>
	<script src="/vendor/ionic/js/ionic.bundle.js"></script>
	<script src="/components/underscore/underscore-min.js"></script>

	<!-- Own production -->
	<script src="/javascripts/ng-modules/controllers.js"></script>
	<script src="/javascripts/ng-modules/services.js"></script>
	<script src="/javascripts/ng-modules/filters.js"></script>
	<script src="/javascripts/application.js"></script>

</head>
<body class="ionic-body" ng-controller="RootCtrl">

	<!-- Navbar -->

	<header class="bar bar-header">
		<!-- Left buttons -->
		<button class="button button-icon" ng-click="reverseAnimation();showVideoList()">
			<i class="icon ion-navicon-round"></i>
		</button>

		<!-- The title is incorporated in the navbar bg image! -->

		<!-- Right buttons -->
		<button class="button button-icon">
			<i class="icon ion-locked"></i>
		</button>
	</header>

	<!-- Content -->
	<div class="animated" ng-class="{reverse: animationIsReversed}" ng-view></div>

	<!-- This app doesn't have a footer at this stage. If you want to add one, add it here. -->

	<!-- Loading spinner -->

	<div id="loader" ng-if="isLoading">
		<div class="darkSquare">
			<div class="icon ion-loading-c"></div>
		</div>
	</div>

</body>
</html>
